*{

    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box ;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url("./Resources/t3.png");
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#recolor{
    color: #ff004f;
}
#logo{
    width : 140px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
    letter-spacing: 1px; 
    font-size: 60px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color : #fff;
    font-size: 15px;
    position: relative;
    /* padding: 1px 3px 2px 1px;
    border-bottom: 3px solid #ff004f;
    transition: 0.5s; */
}
nav ul li a::after{
    content: '';
    background: #ff004f;
    width: 0%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 15%;
    font-size: 30px;
}
.header-text h1{
    font-size: 50px ;
    margin-top: 30px;
}

.header-text h1 span{
    color: #ff004f;
    font-size: 65px;
}

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#about-col-1{
    flex-basis: 35%;
}
#about-col-1 img{
    margin-top: 10px;
    width: 100%;
    border-radius: 14px;
}
#about-col-2{
    flex-basis: 60%;
}
.title{
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}
.about-me-text {
    font-size: 16px; 
    line-height: 1.5;
    margin-bottom: 15px;
  }
.tab-link a{
    text-decoration: none;
}
.tab-link{
    cursor: pointer;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}
.tab-titles{
    display: flex;
    margin: 30px 0 35px;
}
.tab-link::after{
    content: '';
    left: 0;
    bottom: -8px;
    height: 3px;
    background: #ff004f;
    width: 0%;
    position: absolute;
    transition: 0.4s;
}
.tab-link.active-link::after{
    width:70%;
}
.tab-content ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li span{
    color: #b54769;
    font-size: 14px;
    margin-bottom: 10px; 
    display: inline-block;
}

.tab-content {
    display: none;
}
.tab-content.active-tab{
display: block;
}




.languages-list {
    padding: 10px 20%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 40px;
    row-gap: 50px;
    margin-top: 50px;
    justify-content: center;
}

.languages-list div {
   text-align: center;
    background: #262626;
    font-size: 75px;
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
    transition: background 0.5s ease, transform 0.5s ease, color 0.5s ease;
}

.languages-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}







#services{
    margin : 30px 0px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 45px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 14px;
    /* transition: background 0.5s, transform 0.5s; */
    transition: background 0.5s ease, transform 0.5s ease, color 0.5s ease;

}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{

    background: #ff004f;
    transform: translateY(-10px);
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 45px;
    margin-top: 50px;

}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
   
}

.work img{
    border-radius: 10px;
    display: block;
    width: 100%;
    transition: transform 0.5s;
}
.work:hover img{
    transform: scale(1.1);
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    text-decoration: none;
    margin-top: 20px;
    color: #ff004f;
    font-size: 18px;
    background: #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    line-height: 60px;
}
.work:hover .layer{
    height: 100%;
}

#more-btn{
    text-decoration: none;
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    border-radius: 6px;
    color: white;
    padding: 14px 50px;
    transition: background 0.5s;
}
#more-btn:hover{
    background: #ff004f;
}

/* ---------------------Contact-------------------------- */
#contact-right{
    flex-basis: 60%;
}
#contact-left{
    flex-basis: 35%;
}
#contact-left p{
    margin-top: 30px;
}

#contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
#contact-left p a{
    text-decoration: none;
    color: #fff;
}

.social-media-links{
    margin-top: 30px;
}
.social-media-links a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.4s;

}
.social-media-links a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn{
    text-decoration: none;
    margin: 30px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    border-radius: 6px;
    color: white;
    padding: 14px 50px;
    transition: opacity 0.5s ease;
    display: inline-block;
    background: #ff004f;
    opacity: 0.8;
}
.btn:hover{
    cursor: pointer;
    opacity: 1;
}

#contact-right form{
   width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    display: inline-block;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}
form btn{
    font-size: 18px;
    padding: 14px 60px;
    margin-top: 20px;
}
#copyright {
width: 100%;
text-align: center;
padding: 25px 0;
background: #262626;
font-weight: 300;
}
nav .fa-solid{
    display: none;
}
nav ul svg {
    !display: none;
}
nav ul i{
    !display: none;
}
nav svg{
    !display: none;
}


 /* css for mobile */

 @media only screen and (max-width: 600px) {
    #header{
        background-image: url("./Resources/mobile_bg_1.jpg");
       
    }
    .header-text{
        margin-top: 70%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    .header-text h1 span{
        font-size: 35px;
    }
    nav .fa-solid{
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
       display : block;
       position: absolute;
       top: 25px;
       left: 25px;
       cursor: pointer;

    }
    #logo{
        width: auto;
        font-size: 40px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    .title{
        font-size: 30px;
    }
    #about-col-1, #about-col-2{
        flex-basis: 100%;
    }
    #about-col-1{
        margin-bottom: 30px;
    }
    #about-col-2{
        font-size: 14px;
    }
    .tab-link{
        font-size: 16px;
        margin-right: 20px;
    }

    #about-col-1 img {
        content: url('./Resources/mobile_profile.png');
    }
    #contact-left, #contact-right{
        flex-basis: 100%;
    }
    #msg{
        color:#61b752;
        margin-top: -20px;
        display: block;
    }



 }
